
.allHeroesCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.attrIcon {
    position: absolute;
    top: 87%;
    display: flex;
    justify-content: center;
    width: 100%;
}
